Repository zopiolabs/zopio_testing: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm lint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "pnpm format",
    "pnpm lint"
  ],
  "*.{json,md,yml,yaml}": [
    "pnpm format"
  ],
  "*.{css,scss}": [
    "pnpm format"
  ]
}

fix(hooks): remove deprecated husky headers and fix lint-staged config
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
Due: pnpm format

test: update lint-staged config to use biome directly
  .lintstagedrc.json
  test-formatting.js
Due: pnpm format, pnpm lint

test: remove test file
  test-formatting.js
Due: pnpm format, pnpm lint

chore: remove test file
  test-commit-msg.txt
Due: none

fix: update commitlint config for ES modules and temporarily disable typecheck
  .husky/pre-commit
  commitlint.config.js
Due: pnpm format, pnpm lint

fix: re-enable TypeScript check in pre-commit hook
  .husky/pre-commit
Due: none

fix: remove conflicting changelog.yml workflow to prevent duplicate releases
  .github/workflows/changelog.yml
Due: pnpm format

chore: temporarily disable TypeScript checks in CI and pre-commit
  .github/workflows/build.yml
  .husky/pre-commit
Due: pnpm format

chore: make package private to prevent npm publication
  package.json
Due: pnpm format

fix: update TruffleHog configuration to handle different workflow triggers
  .github/workflows/security.yml
Due: pnpm format
